{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% block toolbar %}
    {% set icon %}
        <img width="22" height="28" alt="Memory Usage" style="vertical-align: middle;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAcCAYAAABlL09dAAAABGdBTUEAALGPC/xhBQAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wHGAALFQCM6LQAAAFwSURBVEjH7ZW9S4JRFIefRAoaAmlpbguCiKaGIqjh1FI0SV+vH6G2BmW4RlJG0Rj08RcE0aI3bGqPioagD6IpSEISGiSiBt/ATK+91ynwLBfOOffhx+/cD6jHv40GpVQ7EDXcnxCR+7JgAKVUGhgyAJ8CAyLyWVpw2esC8GEA7gesiopt1btA0AD+AnSISKacYoAYkDMAtwKJSlYgIs/AmuEQLaXUYHHCXdKwBdxqAFlN7UkH7jQ8Hd9z2gZuROTNXZQcBg6AZgPmOxAC2gAvEHXZUC9wZAjNASPAgy2ssdiKa6DX0IEM0GJfluYfHi8txi5qeRdWE/F5wFPpHNf05pQm3Lru4GyAyakJPJ6CmO6unkqtLkdgf8DHxvomyWSKfD7vSLHWipXlOGPjo6RPjglHQo680YJTKYU17ScSnsPyzehamxxZcX55VrjH2Sx7O/t/teKxKlgzrHLgV8AvIodVwQ7iDugTkav6b/8rvgBcMlqf0kD/YAAAAABJRU5ErkJggg=="/>
        <span class="sf-toolbar-status sf-toolbar-status-green">{{ collector.calls }} call{% if collector.calls != 1 %}s{% endif %} / {{ collector.hits }} hit{% if collector.hits != 1 %}s{% endif %}</span>
    {% endset %}
    {% set text %}
        <div class="sf-toolbar-info-piece">
                <b>Total Response</b> <span class="sf-toolbar-status sf-toolbar-status-green">{{ collector.calls }} / {{ collector.hits }}</span>
        </div>
        <div class="sf-toolbar-info-piece">
                <b>Default Queue</b> <span>{{ collector.default }}</span>
        </div>
        <div class="sf-toolbar-info-piece">
                <b>Av. Drivers</b> <span>{{ collector.drivers|join(', ') }}</span>
        </div>
        {% for name, details in collector.caches %}
            <hr style="border: 1px solid #ccc;">
            <div class="sf-toolbar-info-piece">
                <b><i>{{ name }}</i></b> <span class="sf-toolbar-status sf-toolbar-status-green">{{ details.calls }} / {{ details.hits }}</span>
            </div>
            <div class="sf-toolbar-info-piece">
                <b>Drivers</b> <span>{{ details.options.drivers|join(', ') }}</span>
            </div>
        {% endfor %}
    {% endset %}
    {% include 'WebProfilerBundle:Profiler:toolbar_item.html.twig' with { 'link': profiler_url } %}
{% endblock %}

{% block menu %}
<span class="label">
    <span class="icon"><img src="{{ asset('bundles/tedivmstash/images/stash.png') }}" alt="" /></span>
    <strong>Stash</strong>
    <span class="count">
        <span>{{ collector.calls }} / {{ collector.hits }}</span>
    </span>
</span>
{% endblock %}

{% block panel %}
    <h2>Cache Information</h2>
    <table>
        <tr>
            <th>Default Cache</th>
            <td>{{ collector.default }}</td>
        <tr>
            <th>Available Drivers</th>
            <td>{{ collector.drivers|join(', ') }}</td>
        </tr>
        <tr>
            <th>Total Requests</th>
            <td>{{ collector.calls }}</td>
        </tr>
        <tr>
            <th>Total Hits</th>
            <td>{{ collector.hits }}</td>
        </tr>
    </table>

    {% for name, details in collector.caches %}

        <h2>Cache Service: <i>{{ name }}</i></h2>
        <table>
            <tr>
                <th>Drivers</th>
                <td>{{ details.options.drivers|join(', ') }}</td>
            </tr>
            <tr>
                <th>Calls</th>
                <td>{{ details.calls }}</td>
            </tr>
            <tr>
                <th>Hits</th>
                <td>{{ details.hits }}</td>
            </tr>
            <tr>
                <th>Doctrine Adapter</th>
                <td>{{ details.options.registerDoctrineAdapter ? 'true' : 'false' }}</td>
            </tr>
            <tr>
                <th>Cache In-Memory</th>
                <td>{{ details.options.inMemory ? 'true' : 'false' }}</td>
            </tr>
        </table>

        <h3>Driver Options</h3>
        <table>
            {% for name, options in details.options %}
                {% if name != 'drivers' and name in details.options.drivers %}
                    <tr>
                        <th colspan="2"><h3 style="font-size: 16px; margin-bottom: 0;">{{ name }} settings</h3></th>
                    </tr>
                    {% if name in ['Memcache', 'Redis'] %}
                        {% for ovalue in options.servers %}
                            <tr>
                                <th>Server</th>
                                <td>{{ ovalue.server }}:{{ ovalue.port }} {% if ovalue.weight is defined %}(weight {{ ovalue.weight }}){% endif %}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        {% for oname, ovalue in options %}
                            <tr>
                                <th>{{ oname }}</th>
                                {% if oname == 'filePermissions' or oname == 'dirPermissions' %}
                                    <td>{{ "%o"|format(ovalue) }}
                                {% else %}
                                    <td>{{ ovalue }}</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </table>

        <h3>Query Record</h3>
        <table>
            <tr>
                <th>Request Key</th>
                <th>Hit?</th>
                <th>Returned Value</th>
            </tr>
            {% for query in details.queries %}
                <tr>
                    <td>{{ query.key }}</td>
                    <td>{{ query.hit }}</td>
                    <td>{{ query.value }}</td>
                </tr>
            {% endfor %}
        </table>


    {% endfor %}
{% endblock %}
